body {
  font-family: 'Roboto', sans-serif;
  background-color: #18171b;
  padding-bottom: 5rem;
}

div.hero-currency {
  padding-top: 5rem;
  background-color: #18171b !important;
}

div.hero-currency .fa-coins {
  margin-right: 1rem;
  color: #ffc107 !important;
}

table.table-currency {
  color: #777 !important;
}

table.table-currency td.id {
  font-weight: 600;
}

table.table-currency td.state {
  font-weight: 600;
  color: #fff;
}

table.table-currency td.live_price {
  color: #2af598;
}

table.table-currency thead {
  color: #fff !important;
  border-bottom: 1px solid #ffc107;
}

table.table-currency th,
table.table-currency td {
  text-transform: uppercase;
  border: none !important;
}


div.more-currency {
  padding-top: 1.75rem;
}
