body {
  font-family: 'Lato', sans-serif !important;
  background-color: #18171b;
  padding-bottom: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
}

@font-face {
  font-family: Gandom;
  src: url('../fonts/persian/gandom/Gandom.eot');
  src: url('../fonts/persian/gandom/Gandom.eot?#iefix') format('embedded-opentype'),
       url('../fonts/persian/gandom/Gandom.woff') format('woff'),
       url('../fonts/persian/gandom/Gandom.ttf') format('truetype');
  font-weight: normal;
}

div.hero-rate {
  padding-top: 5rem;
  background-color: #18171b !important;
}

div.hero-rate img.moxart-rater-logo {
  width: 10% !important;
  margin-bottom: 1.75rem !important;
}

div.hero-rate h1 {
  font-size: 2.5rem !important;
  text-shadow: 1px 1px 0 #000;
}

div.hero-rate p.description {
  color: #777;
  text-shadow: 1px 1px 0 #000;
}

div.hero-rate .buttons {
  margin-top: 1.75rem;
}

div.hero-rate .moxart-button {
  margin: 0 .65rem;
}

.moxart-button:hover,
.moxart-button:focus,
.moxart-button:active {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.btn-api {
  position: relative;
  background: none;
  color: #ffd500;
  text-decoration: none;
  border: 1px solid #ffd500;
  padding: 0.5em 1em;
  font-weight: 300;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


.btn-api::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #18171b;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.25s cubic-bezier(0.86, 0, 0.07, 1);
}

.btn-api::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #18171b;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.25s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.25s cubic-bezier(0.86, 0, 0.07, 1);
}

.btn-api:hover::before {
  right: 80%;
}

.btn-api:hover::after {
  left: 80%;
}

table.table-rate td.live_price {
  color: #00f2fe;
}

table.table-rate {
  color: #777 !important;
  text-shadow: 1px 1px 0 #000;
}

table.table-rate td.id {
  font-weight: 600;
}

table.table-rate thead {
  color: #fff !important;
}

table.table-rate th,
table.table-rate td {
  text-transform: uppercase;
  border: none !important;
}

table.table-coin td.name {
  font-family: 'Gandom', sans-serif !important;
}

div.more-rates {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.btn-more-rates {
  color: #777;
  border-color: #777;
  text-shadow: 1px 1px 0 #000;

  -webkit-box-shadow: 1px 1px 0 #000;
  -moz-box-shadow: 1px 1px 0 #000;
  box-shadow: 1px 1px 0 #000;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn-more-rates:hover,
.btn-more-rates:focus,
.btn-more-rates:active {
  border-color: #777;
  background-color: #777;
  color: #fff;
  text-shadow: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  div.hero-rate img.moxart-rater-logo {
    width: 30% !important;
    margin-bottom: 1.75rem !important;
  }

  div.hero-rate h1 {
    font-size: 1.75rem !important;
    text-shadow: 1px 1px 0 #000;
  }

  div.hero-rate .buttons {
    margin-top: .75rem !important;
  }

  div.hero-rate .moxart-button {
    font-size: .95rem !important;
    margin: .45rem .45rem .65rem .45rem !important;
  }
}