{% extends 'base.html' %}

{% block title %}
Moxart | Coin
{% endblock %}

{% block main %}
{% if coin %}
    <div class="table-responsive text-center">
        <table class="table table-hover table-borderless table-rate table-coin">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Change</th>
                <th>Min <i class="fas fa-chevron-down"></i></th>
                <th>Max <i class="fas fa-chevron-up"></i></th>
                <th>Time <i class="fas fa-clock"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for item in coin %}
                <tr>
                   <td class="id">{{ item.id }}</td>
                    <td class="name">{{ item.title }}</td>
                    <td class="live_price">{{ item.price }}</td>
                    <td class="change">{{ item.change }}</td>
                    <td class="min">{{ item.min }}</td>
                    <td class="max">{{ item.max }}</td>
                    <td class="time updated">{{ item.updated_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container more-currency">
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-outline-light btn-more-rates moxart-button" href="{{ url_for('bp_coin.coin_all') }}">More Rates</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}