{% extends 'base.html' %}

{% block title %}
    Moxart | All Currencies
{% endblock %}

{% block hero %}
    <div class="jumbotron hero-currency bg-dark text-light text-center jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><i class="fas fa-coins"></i> Iranian Rial Exchange Rates</h1>
        <p class="lead">All prices are in Iranian Rial</p>
        <p>Access IRR exchange rates for 100+ currencies</p>
        <p class="lead">
            <a class="btn btn-warning btn-lg" href="{{ url_for('bp_api.api_currency') }}" target="_blank" role="button"><strong><i class="fas fa-poll"></i> Get Free API</strong></a>
        </p>
      </div>
    </div>
{% endblock %}

{% block currency %}
{% if currency %}
    <div class="table-responsive">
        <table class="table table-hover table-borderless table-currency">
            <thead>
            <tr>
                <th></th>
                <th>State</th>
                <th>Price</th>
                <th><i class="fas fa-map-marker-alt"></i> Country</th>
                <th><i class="fas fa-sync"></i> Change</th>
                <th><i class="fas fa-chevron-down"></i> Min</th>
                <th><i class="fas fa-chevron-up"></i> Max</th>
                <th><i class="fas fa-clock"></i> Time</th>
            </tr>
            </thead>
            <tbody>
            {% for item in currency %}
            <tr>
                <td class="id">{{ item.id }}</td>
                <td class="state">{{ item.alpha3_code }}</td>
                <td class="live_price">{{ item.live_price }}</td>
                <td class="country">{{ item.country }}</td>
                <td class="change">{{ item.change }}</td>
                <td class="min">{{ item.min_price }}</td>
                <td class="max">{{ item.max_price }}</td>
                <td class="time updated">{{ item.updated_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endif %}
{% endblock %}