{% extends 'base.html' %}

{% block title %}
    Moxart | Currency
{% endblock %}

{% block currency %}
{% if currency %}
    <div class="table-responsive text-center">
        <table class="table table-hover table-borderless table-currency">
            <thead>
            <tr>
                <th></th>
                <th>State</th>
                <th>Price</th>
                <th>Country</th>
                <th>Change</th>
                <th><i class="fas fa-chevron-down"></i> Min</th>
                <th><i class="fas fa-chevron-up"></i> Max</th>
                <th><i class="fas fa-clock"></i> Time</th>
            </tr>
            </thead>
            <tbody>
            {% for item in currency %}
                <tr>
                    <td class="id">{{ item.id }}</td>
                    <td class="state">{{ item.alpha3_code }}</td>
                    <td class="live_price">{{ item.live_price }}</td>
                    <td class="country">{{ item.country }}</td>
                    <td class="change">{{ item.change }}</td>
                    <td class="min">{{ item.min_price }}</td>
                    <td class="max">{{ item.max_price }}</td>
                    <td class="time updated">{{ item.updated_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container more-currency">
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-outline-light btn-more-rates moxart-button" href="{{ url_for('bp.currency_all') }}">More Rates</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}